*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: var(--app-font);

}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Light Mode Colors */
  --bg-primary: #ffffff;
  --bg-secondary: #bababa;
  --text-primary: #000000;
  --text-secondary: #454545;
  --border-color: #e5e7eb;
  
  /* Skeleton Specific */
  --skeleton-bg: #eeeeee;
  --skeleton-shimmer: rgba(255, 255, 255, 0.5);

  --blue: #3b82f6;
  --green: #10b981;
  --yellow: #f59e0b;
  --blue-bg: rgba(59, 130, 246, 0.1);
  --green-bg: rgba(16, 185, 129, 0.1);
  --yellow-bg: rgba(245, 158, 11, 0.1);
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-geist-mono);
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}
